@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

body {
  text-align: center;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.primary-button {
  color: #fff;
  font-size: 1rem;
  background: linear-gradient(45deg, #fe3872, #ff5948);
  padding: 18px 64px;
  border: none;
  border-radius: 30px;
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3872, #ff5948);
}

/* ------ Navbar ------ */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

nav .nav-button {
  color: #fe3872;
  background: #fff;
  font-size: 1.25rem;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
}

/* ------ Home page ------- */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,

    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0)
  );
}

.text-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

h1 {
  margin-bottom: 20px;
  color: white;
  font-size: 6rem;
  font-weight: 500;
}
